$main-color: #773996;
$bg-color: #2d2d2d;
$font-color: #FFFFFF;
$element-color: #773996;
$element-color-hover: #9042b6;
$shadow-color: #12042380;
$box-color: #424242;
$dark-box-color: #343333;
$dark-box-color-transparent: #343333c4;
$box-element-color: #683781;
$partners-color: #404040;
$bg-nav-color: #4e4d4d;
$bg-arrow-up-color: #292929;