@import "colors";

//menu
.hover-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hover-nav li {
  float: left;
}

.hover-nav li a {
  position: relative;
  display: block;
  color: $font-color;
  text-align: center;
  padding: 22px 12px;
  text-decoration: none;
  z-index: 0;
}

.hover-nav  li a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  //background-color: $element-color-hover;
  background: linear-gradient(180deg, rgba(183,119,216,0.2287581699346405) 0%, rgba(119,57,150,0.20479302832244006) 100%);
  z-index: -1;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.hover-nav li a:hover::before,
.hover-nav li a:focus::before {
  transform: scale(1);
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  //margin-right: 200px;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $font-color;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  //margin: 0;
  //padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}


.logo {
  width: 250px;
  //padding: 50px;
  //position: absolute;
  margin-left: 70px;
}

.top-logo {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.menu p {
  color: $font-color;
  font-weight: bold;
}

// TITLE
.title {
  margin-top: 160px;
  margin-left: 70px
}

.title h1 {
  font-size: 50px;
  width: 350px;
  color: $font-color;
  margin-top: -55px;
}

.absolute {
  position: absolute;
  top: 350px;
}

.title p {
  font-size: 20px;
  color: $font-color;
}

.started {
  padding: 20px 50px;
  border-radius: 50px;
  border: none;
  margin-left: 60px;
  margin-top: 50px;
  background-color: $element-color;
  color: $font-color;
  box-shadow: 2px 11px 24px $shadow-color
}

.started:hover {
  background-color: $element-color-hover;
}

// BOX
.flex-column {
  display: flex;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.box {
  margin-right: 150px;
  width: 570px;
  height: 340px;
  border-radius: 60px;
  background-color: $box-color;
}

.avatar {
  z-index: 5;
}

.avatar img {
  width: 150px;
  margin-left: 30px;
  margin-top: 10px;
  z-index: 5;
}

.info {
  width: 370px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font-color;
  background-color: $dark-box-color;
  margin-bottom: 15px;
}

.elements {
  margin-top: 30px;
  margin-left: -10px;
  z-index: 2;
}

.portfolio {
  margin-bottom: 10px;
  width: 370px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: $font-color;
  text-align: center;
  align-items: center;
  background-color: $box-element-color;
}

.portfolio a {
  color: $font-color
}


.portfolio:hover {
  background-color: $element-color-hover;
}

.info-text {
  z-index: 2;
  margin-top: -15px;
  margin-left: 30px;
  width: 520px;
  height: 150px;
  border-radius: 10px;
  color: $font-color;
  background-color: $dark-box-color;
}

.info-text p {
  padding: 13px;
}