$main-color: #773996;
$font-color: #FFFFFF;
$element-color: #773996;
$shadow-color: #12042380;
$box-color: #424242;
$dark-box-color: #343333;
$dark-box-color-transparent: #343333c4;
$box-element-color: #683781;
$partners-color: #404040;

* {
  padding: 0;
  margin: 0;
}

h1, p {
  margin: 0;
  font-family: "Inter", Serif, serif;
}

li, a, p button {
  text-decoration: none;
}

body {
  background: url("../img/bg.png");
  background-size: cover;
}

.logo {
  width: 320px;
  padding: 50px;
  position: absolute;
  margin-left: 20px;
}

.nav_container {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 660px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 30px;
  margin-top: 20px;
  margin-right: 150px;
}

.nav-list {
  margin: 5px;
  justify-content: center;
  list-style: none;
}

.nav-list li {
  display: inline-block;
}

.nav-list li a p {
  padding: 10px 20px;
}

.nav-list p {
  color: $font-color;
  font-weight: bold;

}

// TITLE
.title {
  margin-top: 260px;
  margin-left: 60px
}

.title h1 {
  font-size: 50px;
  width: 350px;
  color: $font-color;
  margin: 0;
}

.title p {
  font-size: 20px;
  color: $font-color;
}

.started {
  padding: 20px 50px;
  border-radius: 50px;
  border: none;
  margin-left: 60px;
  margin-top: 50px;
  background-color: $element-color;
  color: $font-color;
  box-shadow: 2px 11px 24px $shadow-color
}

// BOX
.flex-column {
  display: flex;
}
.box {
  margin-left: 950px;
  width: 570px;
  height: 340px;
  border-radius: 60px;
  background-color: $box-color;
}


.avatar {
  z-index: 5;
}

.avatar img {
  width: 150px;
  margin-left: 30px;
  margin-top: 10px;
  z-index: 5;
}

 .info {

   width: 370px;
   height: 40px;
   border-radius: 10px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   color: $font-color;
   background-color: $dark-box-color;
   margin-bottom: 15px;
 }

 .elements {
   margin-top: 30px;
   margin-left: -10px;
   z-index: 2;
 }

 .portfolio {
   margin-bottom: 10px;
   width: 370px;
   height: 40px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   color: $font-color;
   text-align: center;
   align-items: center;
   background-color: $box-element-color;
 }

 .info-text {
   z-index: 2;
   margin-top: -15px;
   margin-left: 30px;
   width: 520px;
   height: 150px;
   border-radius: 10px;
   color: $font-color;
   background-color: $dark-box-color;
 }

 .info-text p {
   padding: 13px;
 }

 .work-done {
   margin-top: 250px;
   //padding: 30px;
   width: 100%;
   height: 850px;
   background-color: $dark-box-color-transparent;

 }

 .work-list {
   //width: 1700px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 240px;
 }

 .h1-zone {
   color: $font-color;
   text-align: center;
   padding: 40px;
   font-size: 40px;
   font-weight: bold;
 }

 .work-box {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   width: 350px;
   height: 280px;
   border-radius: 20px;
   background-color: $box-color;
 }

 .work-box img {
   width: 350px;
   height: 230px;
 }

 .button {
   margin: 15px;
   padding: 13px 30px;
   border-radius: 50px;
   border: none;
   background-color: $element-color;
   color: $font-color;
   box-shadow: 2px 11px 24px $shadow-color
 }

 .work-column {
   display: flex;
   flex-direction: column;
 }

 .work-row {
   display: flex;
   flex-direction: row;
 }

 .partners {
   margin-top: 250px;
   width: 100%;
   height: 410px;
   background-color: $dark-box-color-transparent;
 }

 .partners-list {
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   justify-content: center;
 }

 .partners-box {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   width: 200px;
   height: 230px;
   border-radius: 60px;
   background-color: $partners-color;
 }

 .dark-box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 200px;
   border-radius: 60px 60px 0 0;
   background-color: $box-color;
 }

 .partners-img{
   width: 150px;
 }

 .nav-footer {
   margin-bottom: 100px;
   margin-top: 200px;
 }

 .nav-footer li {
   display: inline;
 }