$main-color: #773996;
$bg-color: #2d2d2d;
$font-color: #FFFFFF;
$element-color: #773996;
$element-color-hover: #9042b6;
$shadow-color: #12042380;
$box-color: #424242;
$dark-box-color: #343333;
$dark-box-color-transparent: #343333c4;
$box-element-color: #683781;
$partners-color: #404040;
$bg-nav-color: #4e4d4d;
$bg-arrow-up-color: #292929;

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1, p {
  margin: 0;
  font-family: "Inter", Serif, serif;
}

li, a, p button {
  text-decoration: none;
}

body {
  background-color: $bg-color;
  background-size: cover;
}

.top {
  background-size: cover;
}

.logo {
  width: 290px;
  padding: 50px;
  position: absolute;
  margin-left: 20px;
}

.nav_container {
  background-size: cover;
  display: flex;
  justify-content: space-between;

}

section > img {

  z-index: 0;
  //top: -100px;
}

//.chuj {
//  width: 950px;
//  margin-left: 50%;
//  margin-top: -4%;
//  position: absolute;
//}

.top-logo {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.mid-bg {
  position: absolute;
  width: 35%;
  right: 0;
  z-index: -1;
}

.left-mid {
  margin-top: -500px;
  position: absolute;
  width: 558px;
  left: 0;
  z-index: -1;
}

.bottom-bg {
  position: absolute;
  width: 100%;
  //bottom: 0;
  z-index: -1;
}

nav {
  width: 660px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 30px;
  margin-top: 20px;
  margin-right: 150px;
}

.nav-list {
  margin: 5px;
  justify-content: center;
  list-style: none;
  position: absolute;
}

.nav-list li {
  display: inline-block;
}

.nav-list li a p {
  padding: 10px 20px;
  z-index: 5;
}

.nav-list p {
  color: $font-color;
  font-weight: bold;

}

// TITLE
.title {
  margin-top: 390px;
  margin-left: 90px
}

.title h1 {
  font-size: 50px;
  width: 350px;
  color: $font-color;
  margin: 0;
}

.absolute {
  position: absolute;
  top: 350px;

}

.title p {
  font-size: 20px;
  color: $font-color;
}

.started {
  padding: 20px 50px;
  border-radius: 50px;
  border: none;
  margin-left: 60px;
  margin-top: 50px;
  background-color: $element-color;
  color: $font-color;
  box-shadow: 2px 11px 24px $shadow-color
}

.started:hover {
  background-color: $element-color-hover;
}

// BOX
.flex-column {
  display: flex;
}
.box {
  margin-left: 950px;
  width: 570px;
  height: 340px;
  border-radius: 60px;
  background-color: $box-color;
}


.avatar {
  z-index: 5;
}

.avatar img {
  width: 150px;
  margin-left: 30px;
  margin-top: 10px;
  z-index: 5;
}

 .info {

   width: 370px;
   height: 40px;
   border-radius: 10px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   color: $font-color;
   background-color: $dark-box-color;
   margin-bottom: 15px;
 }

 .elements {
   margin-top: 30px;
   margin-left: -10px;
   z-index: 2;
 }

 .portfolio {
   margin-bottom: 10px;
   width: 370px;
   height: 40px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   color: $font-color;
   text-align: center;
   align-items: center;
   background-color: $box-element-color;
 }

 .portfolio a {
   color: $font-color
 }


 .portfolio:hover {
   background-color: $element-color-hover;
 }

 .info-text {
   z-index: 2;
   margin-top: -15px;
   margin-left: 30px;
   width: 520px;
   height: 150px;
   border-radius: 10px;
   color: $font-color;
   background-color: $dark-box-color;
 }

 .info-text p {
   padding: 13px;
 }

 .work-done {
   margin-top: 250px;
   //padding: 30px;
   width: 100%;
   height: 975px;
   background-color: $dark-box-color-transparent;

 }

 .work-list {
   //width: 1700px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 240px;
 }

 .h1-zone {
   color: $font-color;
   text-align: center;
   padding: 40px;
   font-size: 40px;
   font-weight: bold;
 }

 .work-box {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   width: 350px;
   height: 280px;
   border-radius: 20px;
   background-color: $box-color;
 }

 .work-box img {
   width: 350px;
   height: 230px;
 }

 .button {
   margin: 15px;
   padding: 13px 30px;
   border-radius: 50px;
   border: none;
   background-color: $element-color;
   color: $font-color;
   box-shadow: 2px 11px 24px $shadow-color
 }

 .button:hover {
   background-color: $element-color-hover;
 }

 .work-column {
   display: flex;
   flex-direction: column;
 }

 .work-row {
   display: flex;
   flex-direction: row;
 }

 .partners {
   margin-top: 250px;
   width: 100%;
   height: 410px;
   background-color: $dark-box-color-transparent;
 }

 .partners-list {
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   justify-content: center;
 }

 .partners-box {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   width: 200px;
   height: 230px;
   border-radius: 60px;
   background-color: $partners-color;
 }

 .dark-box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 200px;
   border-radius: 60px 60px 0 0;
   background-color: $box-color;
 }

 .partners-img{
   width: 150px;
 }

 .nav-footer {
   margin-bottom: 100px;
   margin-top: 200px;

 }

 .nav-footer li {
   display: inline;

 }

 .nav-footer li a p {
   background-color: $bg-nav-color;
   border-radius: 20px;
   margin-bottom: 17px;
 }

.nav-footer li a p:hover {
  background-color: #773996;
}

 .logo-footer {
   width: 240px;
   margin-left: 68%;
   //margin-top: 170px;
 }

 .social-media {
   display: flex;
   justify-content: flex-end;
   margin-right: 120px;
   //margin-top: 425px;
 }

 .social-box {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: $bg-nav-color;
   width: 70px;
   height: 70px;
   border-radius: 20px;
   margin-left: 30px;
 }

 .arrow-up {
   display: flex;
   justify-content: center;
   //margin-top: -90px;
 }

 .arrow-up svg {
   width: 25px;
 }

 .arrow-bg {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 30px;
   background-color: $bg-arrow-up-color;
   width: 50px;
   height: 50px;
 }

 .arrow-bg:hover {
   background-color: #454343;
 }

 .footer-text {
   display: flex;
   justify-content: center;
   color: $font-color;
   position: relative;
   bottom: 0;
 }

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $element-color;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $element-color-hover;
}

// modal portfolio
.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 61vw;
  padding: 1.3rem;
  min-height: 250px;
  top: 20%;
  z-index: 5;
  background-color: white;
  //border: 1px solid #ddd;
  border-radius: 15px;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.preview-web {
  width: 63.1vw;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}


.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  z-index: 1;
}

.hidden {
  display: none;
}

// mobile
@media only screen and (max-width: 660px) {
  nav {
    display: none;
  }

  .logo {
    width: 230px;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 350px auto 10px auto;
  }

  .started {
    margin-left: 0;
  }

  .absolute {
    top: 270px;
  }

  .title h1 {
    font-size: 35px;
    width: 300px;
  }

  .box {
    width: 375px;
    height: 270px;
    margin-left: 0;
    margin-top: 80px;
  }

  .avatar img {
    width: 90px;
  }

  .info {
    width: 250px;
    height: 30px;
  }

  .portfolio {
    width: 250px;
    height: 30px;
  }

  .elements {
    margin-top: 18px;
  }

  .info-text {
    margin-top: -9px;
    width: 333px;
  }

  .work-done {
    height: 3100px;
  }

  .partners {
    margin-top: 150px;
    height: 2000px;
  }

  .footer {
    margin-top: 500px;
  }

  .footer-text {
    margin: auto;
  }

  .logo-footer {
    display: none;
  }

  .left-mid {
    display: none;
  }

  .mid-bg {
    display: none;
  }

  .social-media {
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-top: -400px;
  }

  .arrow-up {
    margin-top: 92px;
  }
}
