* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1, p {
  margin: 0;
  font-family: "Inter", Serif, serif;
}

li, a, p button {
  text-decoration: none;
}

body {
  background-color: #2d2d2d;
  background-size: cover;
}

.top {
  background-size: cover;
}

.logo {
  width: 290px;
  padding: 50px;
  position: absolute;
  margin-left: 20px;
}

.nav_container {
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

section > img {
  z-index: 0;
}

.top-logo {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.mid-bg {
  position: absolute;
  width: 35%;
  right: 0;
  z-index: -1;
}

.left-mid {
  margin-top: -500px;
  position: absolute;
  width: 558px;
  left: 0;
  z-index: -1;
}

.bottom-bg {
  position: absolute;
  width: 100%;
  z-index: -1;
}

nav {
  width: 660px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 30px;
  margin-top: 20px;
  margin-right: 150px;
}

.nav-list {
  margin: 5px;
  justify-content: center;
  list-style: none;
  position: absolute;
}

.nav-list li {
  display: inline-block;
}

.nav-list li a p {
  padding: 10px 20px;
  z-index: 5;
}

.nav-list p {
  color: #FFFFFF;
  font-weight: bold;
}

.title {
  margin-top: 390px;
  margin-left: 90px;
}

.title h1 {
  font-size: 50px;
  width: 350px;
  color: #FFFFFF;
  margin: 0;
}

.test {
  position: absolute;
  top: 350px;
}

.title p {
  font-size: 20px;
  color: #FFFFFF;
}

.started {
  padding: 20px 50px;
  border-radius: 50px;
  border: none;
  margin-left: 60px;
  margin-top: 50px;
  background-color: #773996;
  color: #FFFFFF;
  box-shadow: 2px 11px 24px rgba(18, 4, 35, 0.5019607843);
}

.started:hover {
  background-color: #9042b6;
}

.flex-column {
  display: flex;
}

.box {
  margin-left: 950px;
  width: 570px;
  height: 340px;
  border-radius: 60px;
  background-color: #424242;
}

.avatar {
  z-index: 5;
}

.avatar img {
  width: 150px;
  margin-left: 30px;
  margin-top: 10px;
  z-index: 5;
}

.info {
  width: 370px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #343333;
  margin-bottom: 15px;
}

.elements {
  margin-top: 30px;
  margin-left: -10px;
  z-index: 2;
}

.portfolio {
  margin-bottom: 10px;
  width: 370px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  background-color: #683781;
}

.portfolio a {
  color: #FFFFFF;
}

.portfolio:hover {
  background-color: #9042b6;
}

.info-text {
  z-index: 2;
  margin-top: -15px;
  margin-left: 30px;
  width: 520px;
  height: 150px;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #343333;
}

.info-text p {
  padding: 13px;
}

.work-done {
  margin-top: 250px;
  width: 100%;
  height: 975px;
  background-color: rgba(52, 51, 51, 0.768627451);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 240px;
}

.h1-zone {
  color: #FFFFFF;
  text-align: center;
  padding: 40px;
  font-size: 40px;
  font-weight: bold;
}

.work-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 350px;
  height: 280px;
  border-radius: 20px;
  background-color: #424242;
}

.work-box img {
  width: 350px;
  height: 230px;
}

.button {
  margin: 15px;
  padding: 13px 30px;
  border-radius: 50px;
  border: none;
  background-color: #773996;
  color: #FFFFFF;
  box-shadow: 2px 11px 24px rgba(18, 4, 35, 0.5019607843);
}

.button:hover {
  background-color: #9042b6;
}

.work-column {
  display: flex;
  flex-direction: column;
}

.work-row {
  display: flex;
  flex-direction: row;
}

.partners {
  margin-top: 250px;
  width: 100%;
  height: 410px;
  background-color: rgba(52, 51, 51, 0.768627451);
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.partners-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  height: 230px;
  border-radius: 60px;
  background-color: #404040;
}

.dark-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 60px 60px 0 0;
  background-color: #424242;
}

.partners-img {
  width: 150px;
}

.nav-footer {
  margin-bottom: 100px;
  margin-top: 200px;
}

.nav-footer li {
  display: inline;
}

.nav-footer li a p {
  background-color: #4e4d4d;
  border-radius: 20px;
  margin-bottom: 17px;
}

.nav-footer li a p:hover {
  background-color: #773996;
}

.logo-footer {
  width: 240px;
  margin-left: 68%;
  margin-top: 170px;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
  margin-top: 495px;
}

.social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4e4d4d;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin-left: 30px;
}

.arrow-up {
  display: flex;
  justify-content: center;
  margin-top: -90px;
}

.arrow-up svg {
  width: 25px;
}

.arrow-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #292929;
  width: 50px;
  height: 50px;
}

.arrow-bg:hover {
  background-color: #454343;
}

.footer-text {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  margin-top: 49px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #773996;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9042b6;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 60%;
  padding: 1.3rem;
  z-index: 2;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview {
  width: 61vw;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: -1;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
