@import "colors";

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1, p {
  margin: 0;
  font-family: "Inter", Serif, serif;
}

li, a, p button {
  text-decoration: none;
}

body {
  background-color: $bg-color;
  background-size: cover;
  position: relative;
}

.header-section,
.portfolio-section,
.contact-section,
.partners-section,
.footer-section {
  display: flex;
  justify-content: center;
}

//.partners-section {
//  height: 800px;
//}


.container {
  max-width: 1300px;
  width: 100vw;
}
