@import "colors";

.partners {
  margin-top: 45px;
  margin-bottom: 250px;
  //width: 100%;
  height: 360px;
  background-color: $dark-box-color-transparent;
}

//.partners-list {
//  display: flex;
//  flex-wrap: wrap;
//  gap: 40px;
//  justify-content: center;
//}

.partners-box {
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  //width: 100%;
  //height: 100%;
  //border-radius: 60px;
  //margin-right: 10px;
  //margin-left: 10px;
  //background-color: $partners-color;
}

.dark-box {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //width: 200px;
  //height: 200px;
  //border-radius: 60px 60px 0 0;
  //background-color: $box-color;
}

.partners-img{
  width: 100%;
  filter: brightness(50%)
}

.partners-img:hover {
  filter: brightness(100%)
}

.img-box {
  width: 150px;
  margin-bottom: 200px;
}

.mail {
  width: 340px;
  font-size: 27px;
}

.address-mail {
  color: $main-color;
  margin-left: 108px;
}

.address-mail:hover {
  color: $element-color-hover
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.flex-direction {
  flex-direction: column;
}

// discord
